.logout-button {
    background-color: skyblue;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    position: fixed;
    top: 20px;
    right: 20px;
}

.logout-button:hover {
    background-color: blue
}